
<div *ngIf="!loading" class="ml-3 d-flex justify-content-between align-items-center">
    <p class="card-text"> {{ currentProduct.name }} </p>
    <div class="counter">
        <button (click)="minus()" class="btn btn-color-secondary" id="minus">−</button>
        <input type="number" class="form-control" value="{{value}}" id="input">
        <button (click)="plus()" class="btn btn-color-secondary" id="plus">+</button>
        <button class="btn ml-3" (click)=deleteProduct()>X</button>
    </div>
</div>

