<form [formGroup]="statusForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputName">Key de la Orden</label>
        <input type="text" class="form-control readonly" formControlName='key' placeholder="Key" readonly>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Id del Cliente</label>
        <input type="text" class="form-control readonly" formControlName='userId' placeholder="id" readonly>
    </div>

    <div class="form-group">
        <label for="exampleInputQuantity">Username del Cliente</label>
        <input class="form-control readonly" type="text" formControlName='userName' placeholder="username" readonly>
    </div>

    <div class="form-group">
        <label for="exampleInputQuantity">Status</label>
        <input class="form-control" type="text" formControlName='status'
            placeholder="status">
    </div>

    <div class="form-group">
        <label for="exampleInputPrice">Método de Pago</label>
        <input class="form-control readonly" type="text" formControlName='payment' placeholder="payment" readonly>
    </div>

    <div class="form-group">
        <label for="exampleInputPrice">Método de Envio</label>
        <input class="form-control readonly" type="text" formControlName='shipping' placeholder="shipping" readonly>
    </div>

    <div class="form-group">
        <label for="exampleInputPrice">Total</label>
        <input class="form-control readonly" type="text" formControlName='total' placeholder="total" readonly>
    </div>
    <button type="submit" class="btn button-primary btn-block">SUBMIT</button>
</form>
<div class="text-center text-danger mt-2 bg-light rounded" *ngIf="!valid">Debe completar todos los campos.</div>