<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="col-12 my-2">
    <div class="card">
      <div class="card-body">
        <h5 class="text-center my-2 ">Metodos de pago</h5>
        <select [(ngModel)]="paymentMethod" (ngModelChange)="comprobante()" formControlName="payment"
          class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option *ngFor="let method of pago" value="{{method.name}}">{{method.name}}</option>

        </select>
        <ng-container *ngIf="mostrarComprobante">
          <h5 class="text-center  ">Anexe comprobante de pago</h5>
          <ng-container *ngIf="!loadingImage">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileLang" lang="es">
              <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
            </div>
          </ng-container>
          <ng-container *ngIf="loadingImage">
            <div class="custom-file">
              <span class="badge badge-success mt-1 p-2">Success</span>
            </div>
          </ng-container>
        </ng-container>
        <h5 class="text-center ">Metodos de entrega</h5>
        <select formControlName="shipping" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option *ngFor="let method of retiro" value="{{method.name}}">{{method.name}}</option>

        </select>
        <button type="submit" class="btn button-primary btn-block my-2">SUBMIT</button>
      </div>
    </div>
  </div>
</form>