<div class="navbar">

    <div class="titulo">Sugar World</div>
    <!-- <div> {{(user | async) ? "Is Authenticated":"Is not Authenticated"}}</div> -->

    <div class="links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/home/product">Product</a></li>
        <li><a routerLink="/home/contact">Contact</a></li>
        <li><a 
            routerLink="/home/login"
            *ngIf="!(user | async)"
            >Log In</a></li>
        <li><a
            routerLink="/home/register"
            *ngIf="!(user | async)"
            >Register</a></li>
        <li><a 
            routerLink="/admin"
            *ngIf="user | async"
            >Admin</a></li>
        <li><a 
            routerLink="/home/login"
            *ngIf="(user | async) as user" 
            >{{ user.displayName || user.email }}</a></li>
    </div>
</div>
