<nav class="navbar-custom navbar navbar-expand-lg navbar-light fixed-top p-0">
  <a class="navbar-brand pb-4 px-4" routerLink="/home"><img class="logo mx-auto" src="assets/imgNavbar/logo.svg"></a>
  <button class="navbar-toggler boton-menu-colapsado m-3" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between pb-4 px-4" id="navbarNav">
    <ul class="navbar-nav flex-grow-1 justify-content-center pl-3">
      <div class="dropdown-divider bg-secondary"></div>
      <li class="nav-item no-icono">
        <a class="nav-link" routerLink="/home/product">Productos <span class="sr-only">(current)</span></a>
      </li>
      <div class="dropdown-divider bg-secondary"></div>
      <li class="nav-item no-icono">
        <a class="nav-link" routerLink="/home/about-us">Sobre Nosotros</a>
      </li>
      <div class="dropdown-divider bg-secondary"></div>
      <li class="nav-item no-icono">
        <a class="nav-link" routerLink="/home/contact">Contacto</a>
      </li>
      <div class="dropdown-divider bg-secondary"></div>
    </ul>
    <ul class="navbar-nav pl-3">
      <li class="nav-item etiqueta-icono">
        <div class="dropdown show">
          <a class="nav-link d-flex justify-content-between" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-toggle d-lg-none">Mi cuenta</span><img class="icono"
              src="assets/imgNavbar/iconoPersona.svg">
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/home/register" *ngIf="!(user | async)">Registrarse</a>
            <a class="dropdown-item" routerLink="/home/login" *ngIf="!(user | async)">Iniciar sesión</a>
            <a class="dropdown-item disabled" *ngIf="(user | async) as user">{{ user.displayName || user.email }}</a>
            <a class="dropdown-item" routerLink="/" *ngIf="user | async">Ver perfil</a>
            <a class="dropdown-item" routerLink="/" *ngIf="user | async">Ver pedidos</a>
            <a class="dropdown-item" routerLink="/admin" *ngIf="user | async">Sección de Administrador</a>
            <a class="dropdown-item" (click)="logOut()" *ngIf="user | async">Cerrar sesión</a>
          </div>
        </div>
      </li>
      <div class="dropdown-divider bg-secondary"></div>
      <li class="nav-item etiqueta-icono">
        <a class="nav-link d-flex justify-content-between" routerLink="/home/shoppingCart"><span
            class="d-lg-none">Carrito de compras</span><img class="icono" src="assets/imgNavbar/iconoCarrito.svg"></a>
      </li>
      <div class="dropdown-divider bg-secondary"></div>
      <li class="nav-item etiqueta-icono">
        <a class="nav-link d-flex justify-content-between" routerLink="/home/wishList"><span class="d-lg-none">Lista de
            deseos</span><img class="icono" src="assets/imgNavbar/iconoCorazon.svg"></a>
      </li>
      <div class="dropdown-divider bg-secondary"></div>
      <li class="nav-item etiqueta-icono">
        <a class="nav-link d-flex justify-content-between" routerLink="/home/currentBag"><span class="d-lg-none">Bolsa
            actual</span><img class="icono" src="assets/imgNavbar/iconoBolsa.svg"></a>
      </li>
      <div class="dropdown-divider bg-secondary"></div>
    </ul>
  </div>
</nav>