<div class="container-fluid" style="margin-top: 75px;">
  <div class="row justify-content-center line">
    <div class="col-6 title">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Product" aria-label="Serach Bar"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </div>
  </div>





  <div class="container">
    <ng-container *ngIf="products.length > 0">
      <app-product-list [products]="products"></app-product-list>
    </ng-container>
  </div>