<h1 style="margin-top: 120px">Product view</h1>
<div class="product-view">
  <div *ngFor="let product of products">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ product.image }}" alt="Product image">
      <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <h5 class="card-text">Categoria: {{product.category}}</h5>
        <div class="card-text">Precio: ${{ product.price }}</div>
        <div class="card-text">Cantidad Disponible: {{product.quantity}}</div>
        <a routerLink="/home/detail/{{product.$key}}">Detalles</a>
      </div>
    </div>
  </div>
</div>