<div class="card my-3" *ngIf="!borrada ">
    <div class="card-body">
        <div class="d-flex justify-content-between"> 
            <h5 class="card-title">Bolsa de ${{ bag.price }}/50g</h5>
            <h5>Items Agregados ({{ bag.items }})</h5>
        </div>
        
        <div *ngIf="!loading">
            <ng-container *ngFor="let product of bag.products">
                <app-bag-product [cartProduct]='product' [bag]="bag"></app-bag-product>
            </ng-container>      
        </div>

        
        <div class="d-flex flex-column align-items-end justify-content-center eliminar mt-3 w-100">
            <div>Peso Total: {{ bag.weight }}g</div>
            <div>Precio Total: </div>
            <button class="btn mt-3" (click)="deleteBag()"><img src="assets/imagenes/eliminar.png"></button>
        </div>    
    </div>
  </div>
