<h1>Login View</h1>
<div class="login-content">
  <div class="google-container">
    <div class="title">Login With Google</div>
    <button class="btn btn-success" (click)="loginWithGoogle()">Google</button>
  </div>
  <div class="credential-container">
    <div class="title">Email & Password</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form.group">
        <label for="exampleInputEmail">Enter your Email</label>
        <input type="text" class="form.control" placeholder="Enter your Email" />
      </div>
      <div class="form.group">
        <label for="exampleInputPassword">Enter your Password</label>
        <input type="text" class="form.control" placeholder="Enter your password" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="logout-container">
  <button class="btn btn-primary" (click)="logOut()">Log Out</button>
</div>

