.info-container {
  .jumbotron {
    background-image: url(../../../../assets/ImgContact/contact-image.jpg);
    //background-size: 100%;
    background-repeat: no-repeat;

    @include big-phone-max() {
      background-size: 100% 100%;
    }
  }
} 
 
.contacto {
    a {
        color: $color-secondary-dark;
      }
      hr {
        border: 0.1em solid;
        border-radius: 300px;
    
        height: 0px;
        color: $color-secondary-dark;
        width: 50em;
        margin: auto;
        margin-bottom: 1em;

      }
} 