.home-view {
  font-family: $font-family;
  padding: $padding-general;
  font-size: $font-lg;
  color: $font-color-black;
  background-color: $color-white;
}

.carrusel-img {
  filter: brightness(90%);
}

.hero-text {
  font-family: $font-secondary;
  display: flex;
  position: absolute;
  z-index: 2;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #c4c4c490;
  h2 {
    color: $color-black;
  }
}

.general-information {
  height: 10em;
}

.title {
  text-align: center;
}

.btn-color {
  background-color: $color-primary;
  color: #ffffff;
}

.line {
  background-color: $color-primary;
  padding: 2em;
  color: #ffffff;
}

.card-img-top {
  object-fit: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*="col-"] {
  display: flex;
}

.card {
  transition: -webkit-transform 0.3s ease;
}
.card:hover {
  transform: scale(1.01, 1.01);
}

@media (min-width: 320px) {
  .card-img-top {
    height: 50vw;
  }
  .carrusel-img {
    height: 70vh;
  }

  .carrusel {
    height: 70vh;
  }

  .hero-text {
    width: 20em;
    height: 10em;
  }
  h2 {
    font-size: 1.8em;
  }
}

@media (min-width: 480px) {
  .card-img-top {
    height: 50vw;
  }
  .carrusel-img {
    height: 70vh;
  }

  .carrusel {
    height: 70vh;
  }

  .hero-text {
    width: 25em;
    height: 10em;
  }
  h2 {
    font-size: 1.8em;
  }
}

@media (min-width: 550px) {
  .card-img-top {
    height: 50vw;
  }
  .carrusel-img {
    height: 70vh;
  }

  .carrusel {
    height: 70vh;
  }

  .hero-text {
    width: 25em;
    height: 10em;
  }
  h2 {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .card-img-top {
    height: 30vw;
  }
  .carrusel-img {
    height: 79vh;
  }

  .carrusel {
    height: 79vh;
  }
  .hero-text {
    width: 25em;
    height: 9em;
  }
  h2 {
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 20vw;
  }
  .carrusel-img {
    height: 100vh;
  }

  .carrusel {
    height: 100vh;
  }
  .hero-text {
    width: 40em;
    height: 18em;
  }

  h2 {
    font-size: 3em;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    height: 20vw;
  }
  .carrusel-img {
    height: 100vh;
  }

  .carrusel {
    height: 100vh;
  }

  .hero-text {
    width: 40em;
    height: 18em;
  }
  h2 {
    font-size: 3em;
  }
}
