.contenedor {
  height: 25em;
  width: 30em;
  padding: 2em;
}

hr {
  border: 0.1em solid;
  border-radius: 300px;
  height: 0px;
  color: #e66382;
  width: 20em;
  margin: auto;
  margin-bottom: 1em;
}

.hero-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://wallpaperaccess.com/full/388195.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-color-primary {
  background-color: $color-primary;
  color: #ffffff;
}
