.contenedor {
  min-height: 25em;
  width: 25em;
  padding: 2em;
}

hr {
  border: 0.11em solid;
  border-radius: 300px;
  height: 0px;
  color: #e66382;
  width: 20em;
  margin: auto;
  margin-bottom: 1em;
}

.hero-image-login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../../assets/imagenes/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-color-primary {
  background-color: $color-primary;
  color: #ffffff;
}

.login-content {
  @include sm-device-max() {
    width: 30rem;

    .btn-color {
      margin: 0;
      flex-wrap: wrap;
    }
  }

  @include xm-device-max() {
    width: 25rem;
  }

  @include big-phone-max() {
    width: 18rem;

  }
}
