.reg-contenedor {
  margin-top: 50px;
  min-height: 35em;
  min-width: 30em;
  padding: 2em;
}

hr {
  border: 0.1em solid;
  border-radius: 300px;
  height: 0px;
  color: #e66382;
  width: 20em;
  margin: auto;
  margin-bottom: 1em;
}

.hero-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../../assets/imagenes/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-color-primary {
  background-color: $color-primary;
  color: #ffffff;
}

@media (min-width: 320px) {
  .reg-contenedor {
    margin-top: 110px;
    height: 40em;
  }
  .hero-image {
    height: 130vh;
  }
}

@media (min-width: 480px) {
  .reg-contenedor {
    margin-top: 110px;
    height: 40em;
  }
  .hero-image {
    height: 130vh;
  }
}

@media (min-width: 550px) {
  .reg-contenedor {
    margin-top: 110px;
    height: 40em;
  }
  .hero-image {
    height: 120vh;
  }
}

@media (min-width: 768px) {
  .reg-contenedor {
    margin-top: 50px;
    height: 35em;
  }
  .hero-image {
    height: 110vh;
  }
}

@media (min-width: 992px) {
  .reg-contenedor {
    margin-top: 50px;
    height: 35em;
  }
  .hero-image {
    height: 110vh;
  }
}
