@media (min-width: 320px) {
  .product-image {
    height: 50vw;
  }
}

@media (min-width: 480px) {
  .product-image {
    height: 50vw;
  }
}

@media (min-width: 550px) {
  .product-image {
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .product-image {
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .product-image {
    height: 20vw;
  }
}

@media (min-width: 1200px) {
  .product-image {
    height: 20vw;
  }
}
