<div class="container" *ngIf="!loading" style="margin-top: 200px;">
  <div class="detail-view">
    <div class="row">
      <div class="col-lg-4 col-sm-12" style="display: flex; flex-direction: column;">
        <img class="product-image" src="{{ product.image }}" alt="Product image" width="fit" height="350px">
        <div class="counter">
          <button (click)="minus()" class="btn btn-color-secondary" id="minus">−</button>
          <input type="number" class="form-control" formControlName='counter' value="{{this.value}}" id="input">
          <button (click)="plus()" class="btn btn-color-secondary" id="plus">+</button>
        </div>
        <button style="margin-top: 10px;" type="submit" class="btn btn-color">Agregar a Bolsa</button>
      </div>
      <div class="col-lg-8 col-sm-12" style="display: flex; flex-direction: column;">
        <div class="product-name my-3">{{product.name}}</div>
        <div class="product-price">Precio/50g: ${{product.price}}</div>
        <div class="product-category">Categoria: {{product.category}}</div>
        <div class="product-description my-3">{{product.description}}</div>
      </div>
    </div>
  </div>
  <button type="button" routerLink="/home/product" class="btn return my-3">&#60; Return</button>
</div>
<div class="container-fluid" *ngIf="loading" style="margin-top: 75px;">
  <div class="row justify-content-center line">
    <div class="col-6 title justify-content-center">
      <div class="loader"></div>
      <h2 style="align-self: center;">Loading...</h2>
    </div>
  </div>
</div>