<form [formGroup] = "methodForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputClient">Tipo</label>
        <select class="form-control" formControlName="type" id="FormControlSelect1">
            <option  value="Pago">Pago</option>
            <option  value="Retiro">Retiro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputStatus">Nombre</label>
        <input 
            type="text"
            class="form-control"
            formControlName ='name'
            placeholder="Ingresa el nombre del método"
            />
    </div>
    <div class="form-group">
        <label for="exampleInputStatus">Comprobante</label>
        <select class="form-control" formControlName="attachement" id="FormControlSelect2">
            <option  value="No">No</option>
            <option  value="Si">Si</option>
        </select>
    </div>
    <button type="submit" class="btn button-primary btn-block">SUBMIT</button>
</form>
<div class="text-center text-danger mt-2 bg-light rounded" *ngIf="!valid">Debe completar todos los campos.</div> 
<div class="text-center text-danger mt-2 bg-light rounded" *ngIf="!metodoCorrecto">El tipo de método es 'Pago' o 'Retiro'.</div> 
