<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="col-12 my-2">
    <div class="card">
      <div class="card-body">
        <h5 class="text-center ">Meotodos de pago</h5>
        <select formControlName="payment" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option value="Zelle">Zelle</option>
          <option value="Transferencia">Tranferencia</option>
          <option value="Paypal">Paypal</option>
          <option value="Pago en la tienda">Pago en la tienda</option>
        </select>
        <h5 class="text-center ">Metodos de entrega</h5>
        <select formControlName="shipping" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option value="Delivery">Delivery</option>
          <option value="Pick-up">Pick-Up</option>
        </select>
        <button type="submit" class="btn button-primary btn-block my-2">SUBMIT</button>
      </div>
    </div>
  </div>
</form>