<div class="info-container my-5">
  <div class="jumbotron jumbotron-fluid d-flex justify-content-center">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center titulo">
      <h1 class="display-4">SOBRE SUGAR WORLD</h1>
      <p class="lead">Hacemos tus dulces sueños realidad.</p>
    </div>
  </div>

  <div class="container ">
    <div class="row  align-items-center justify-content-md-center m-3">
      <img class="col-lg-6 h-50 mb-3" src="assets/imgAboutUs/tienda.jpg" alt="foto-tienda-caramelos">
      <div class="col-lg-6 flex-column">
        <h5 class="">¡Gracias por comprar con nosotros!</h5>
        <p>
          Nuestra mision es fusionar la moda, el arte y la cultura pop con los dulces para encender el espíritu creativo
          y el niño interior en todos los que lo visitan. Este concepto innovador ha cambiado la forma en que el mundo
          experimenta los dulces en la actualidad.
          Sugar world alberga más de 7,000 dulces, con una selección incomparable de dulces y regalos relacionados con
          los dulces de todo el mundo. Sugar World continúa atrayendo a personas de todas las edades con su decoración
          de vanguardia y su combinación de productos que marcan tendencia.
        </p>

        <p>
          Lo que nos diferencia del resto de nuestros competidores es la excelente atención al público, precios muy
          competitivos, una extensa gama de productos de las marcas más importantes y el servicio que damos a nuestros
          clientes registrados. Por supuesto, lo que intentamos siempre es ponernos en el lado del consumidor y
          ofrecerle una solución personalizada y que se ajuste 100% a sus necesidades.
        </p>
      </div>
    </div>


  </div>

</div>