.update-category-content {
  margin: $margin-general;
  padding: 20px;
  color: $font-color-white;
  background-color: $color-secondary-dark;
  border-radius: $border-radius-sm;

  @include sm-device-min() {
    width: 70%;
  }

  .btn-outline-light {
    margin-bottom: $margin-general;
  }
}
