<div class="view-container">
  <div class="titulo mb-4">
    <h1>Órdenes Recientes</h1>
  </div>
  <div class="order-view d-flex justify-content-around align-items-center flex-wrap">
    <div class="admin-orders-create">
      <h4>Registrar Nueva Orden</h4>
      <app-admin-order-form></app-admin-order-form>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" id="tablaOrdenes">
        <thead class="table-head">
          <tr>
            <th scope="col">Key de la Orden</th>
            <th scope="col">Nombre del Cliente</th>
            <th scope="col">Status de la Orden</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{ order.$key }}</th>
            <th scope="row">{{ order.client }}</th>
            <th scope="row">{{ order.status }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>