.navbar-custom {
  background: url("../../../assets/imgNavbar/fondoNavbar-lg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 1rem;
  font-size: $font-md;

  @include sm-device-max() {
    background: url("../../../assets/imgNavbar/fondoNavbar-sm.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: $font-sm;
  }
}

img {
  &.logo {
    width: 10rem;
    height: 5rem;

    @include big-phone-max() {
      width: 8rem;
      height: 3.5rem;
    }
  }

  &.icono {
    width: 32px;
    height: 32px;
  }
}

#navbarNav {
  @include md-device-max() {
    width: 100%;
    background-color: #ffe9e3;
  }
}

ul {
  .dropdown-divider {
    border-top: 1px solid $color-secondary-light;
  }

  .no-icono {
    @include lg-device-min() {
      padding: 0 5%;
    }
  }
}
