<form [formGroup] = "categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputName">Nombre</label>
        <input
            type="text"
            class="form-control"
            formControlName='name'
            placeholder="Ingresa el nombre del la categoría"
        >
    </div>
    <button type="submit" class="btn button-primary btn-block">SUBMIT</button>
</form>
<div class="text-center text-danger mt-2 bg-light rounded" *ngIf="!valid">Debe ingresar el nombre de la categoría.</div> 