<nav class=" navbar-admin-custom navbar navbar-expand-lg navbar-light fixed-top p-0">
    <div class="navbar-brand d-flex align-items-center pb-4 pl-4 m-0">
            <img class="logo-admin mx-auto" src="assets/imgNavbar/logo.svg">
            <div class="admin disabled">
                ADMIN 
            </div>
        
    </div>
    <button class="navbar-toggler m-3" type="button" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pb-4 px-4" id="navbarMenu">
        <ul class="navbar-nav d-flex justify-content-around w-100">
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin">Ver Órdenes</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/stock">Manejar Inventario</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/category">Manejar Categoría</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/method">Manejar Servicios</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Cerrar ADMIN</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
        </ul>
    </div>
</nav>